.enrollware
{
/*  width: 500px;*/
}

.enrollware ul
{
  list-style-type: none;
  padding: 0;
}

.enrollware ul li
{
  background-color: #F8F8F8;
  border: 1px solid #EEEEEE;
  list-style-type: none;
}

.enrollware ul li:hover
{
  background-color: #fff;
  border: 1px solid #ccc;
}

.enrollware ul li a
{
  font-size: 90%;
  margin-bottom: 0.5em;
  color: maroon;
  text-decoration: none;
  display: block;
  min-height: 30px;
}

.enrollware ul li a.greylink
{
  color: #888;
}

.enrollware ul li a.singleline
{
  padding-top: 14px;
  padding-bottom: 5px;
}