@keyframes openYourHeart {from {r: 0} to {r: 60px}}

body.main {
    background-color:maroon;
    color:white;
}
.subpage #header{
    background-color:white;
    color:maroon;
}
#coursemenu h2 {
    text-decoration: underline;
    cursor: pointer;
}
.redonwhite{
    background-color:white;
    color:maroon;
}
.whiteonred{
    background-color:maroon;
    color:white;
}
button .dropdown-toggle {
    background-color:white;
    color:maroon;
    font-weight: bold;
}

.dropdown-menu li {
    margin-bottom: 0.75rem;
}
.dropdown-menu a{
    background-color:white;
    color:maroon;
    margin-left:1rem;
    text-decoration:underline;
}

.subpage .card-title a {
    background-color:white;
    color:maroon;
}
address {
    padding-top: 1rem;
    text-align: center; 
    margin: auto;
}

address a {
    margin-top: 5rem;
    color:white;background: rgb(255, 255, 255) transparent;
}
nav {
    background-color: white;
    color: maroon;
}

ul.navbar-nav li a {
    color: maroon;
}
p.bannerlogo {
    margin-top: 5rem;
    text-align:center;
    font-family:palatino,roman;
    font-size: 3rem;
}
p.register{
    margin-top: 4rem;
    text-align:center;
    font-weight:bold;
    font-size:large;
}
p.registerbuttons {
    margin-top: 2rem;
    text-align:center;
    font-weight:bold;
   
}
p.registerbuttons a {
    background-color:white;color:maroon;
}

ul.submenu {
    text-align: center;
}
ul.submenu li {
    display: inline-block;
}
ul.submenu a {
    font-size: large;
}

div.righthandside {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background:url(../images/hero.svg);
    background-size:cover;
    min-height:100%;
    height:100%"
}
div.righthandside p.banner_calltoaction{
    margin-top: 5rem;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.main .card {
    background-color:maroon;
    color:white;
    font-size: large;
}
.main .card-title a {
    background-color:maroon;
    color:white;
    font-size: large;
}
