    /* PAGE STRUCTURE
----------------------------------------------- */

    body {
      width: 896px;
      height: 100%;
      min-height: 100%;
      margin: 0 auto;
      padding: 50px 48px 10px;
      line-height: 1.1;
      color: #333;
      font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
      background: #FFF;
      -webkit-text-size-adjust: 100%;
    }

    #wrap {
      position: relative;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      background: #FFF;
    }

    #content {
      position: relative;
      float: right;
      width: 712px;
    }

    #content h1,
    h2,
    h3 {
      color: maroon;
    }

    a {
      color: maroon;
    }

    /* HOME PAGE */

    .slide {
      position: absolute;
      top: 0px;
      left: 0px;
      display: none;
      opacity: 0;
      z-index: 4;
      width: 896px;
    }

    .slide #slide-1 {
      display: block;
      z-index: 5;
      opacity: 1;
    }

    #featured {
      position: relative;
      width: 100%;
      height: 510px;
      /*border: 1px solid red;*/
    }

    #featured #slides {
      width: 712px;
      height: 446px;
      overflow: hidden;
    }

    #featured section {
      position: relative;
      width: 896px;
    }

    #featured section img {
      position: absolute;
      left: -92px;
      width: 100%;
    }
    /* hide slides when js is disabled */

    #featured #slide-2,
    #featured #slide-3,
    #featured #slide-4 {
      display: none;
    }

    #featured section h1,
    #featured section h2 {
      position: absolute;
      left: 0;
      font-style: italic;
    }

    #featured section.alt h1,
    #featured section.alt h2 {
      left: auto;
      right: 184px;
    }

    #featured section h1 {
      top: 285px;
      padding: 10px 24px 15px;
      color: #222;
      background: #FFF;
      font-size: 1.5em;
    }

    #featured section h2 {
      top: 334px;
      padding: 8px 24px 12px;
      color: #E9E9E9;
      font-weight: normal;
      font-size: 1em;
      background: #111;
    }

    #featured section a h1,
    #featured section a h2 {
      -webkit-transition: opacity .2s ease;
      -moz-transition: opacity .2s ease;
      -o-transition: opacity .2s ease;
      transition: opacity .2s ease;
    }

    #featured section a:hover h1,
    #featured section a:hover h2 {
      opacity: .8;
    }
    /* ----- NAVIGATION ----- */

    header[role="masthead"] {
      float: left;
      width: 160px;
      margin-bottom: 25px;
      /*border: 1px solid red;*/
    }

    h1#branding {
      display: block;
      width: 120px;
      height: 120px;
      margin: auto;
      cursor: pointer;
      text-indent: -999em;
      background: url(../images/logo.png) no-repeat 0 0;
      -webkit-transition: all .3s ease;
      -moz-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
    }

    h1#branding a {
      display: block;
      width: 120px;
      height: 120px;
    }

    h1#branding:hover {
      opacity: .85;
      cursor: pointer;
    }

    nav {
      position: absolute;
      top: 158px;
      left: 0;
      width: 160px;
      /*border: 1px solid navy;*/
    }

    nav ul {
      width: 100%;
      padding: 0;
    }

    nav li {
      display: block;
      margin-bottom: 18px;
      line-height: 1.3em;
    }

    nav li:last-child {
      margin: 0;
    }

    nav a {
      display: block;
      height: 28px;
      padding: 4px 0 0 44px;
      font-style: italic;
      color: maroon;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }

    nav a:hover {
      color: #ed2c09;
    }

    nav li a {
      background-position: 0 65%;
      background-repeat: no-repeat;
    }

    nav li a:hover {
      background-position: 5px 65%;
    }
    /* ----- DESCRIPTIONS BLOCK ----- */

    #descriptions {
      width: 100%;
      clear: both;
      margin-bottom: 18px;
      overflow: hidden;
      /*border: 1px solid navy;*/
    }

    #descriptions section > header h1 {
      text-align: center;
      font-style: italic;
      color: maroon;
    }

    #descriptions article {
      float: left;
      width: 160px;
      margin: 0 24px 25px 0;
    }

    #descriptions article img {
      width: 139px;
      background: #FFF;
      overflow: hidden;
    }

    #descriptions article:last-child {
      margin-right: 0;
    }

    #descriptions article h1 {
      margin: 10px 0 10px;
      line-height: 1.3em;
    }

    #descriptions article p {
      font-size: .875em;
      line-height: 1.45em;
    }

    #descriptions ul {
      list-style-type: none;
      font-size: .875em;
      line-height: 1.45em;
      padding: 0;
    }

    #descriptions ul li {
      color: #333333;
      font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
      margin-bottom: 1.2em;
      font-style: italic;
    }

    #descriptions header a {
      color: maroon;
      font-style: italic;
      font-size: smaller;
      text-decoration: none;
      cursor: pointer;
    }
    /* FOOTER
----------------------------------------------- */

    footer[role="siteinfo"] {
      clear: both;
      position: relative;
      min-height: 70px;
      padding-top: 20px;
      border-top: 2px solid #E5E5E5;
      color: #AAA;
    }

    footer[role="siteinfo"] p {
      line-height: 1.5em;
      font-size: .75em;
    }

    footer[role="siteinfo"] a {
      color: maroon;
    }
    button#register {
      -moz-box-shadow: inset 0px 1px 0px 0px #be6a6a;
      -webkit-box-shadow: inset 0px 1px 0px 0px #aa2323;
      box-shadow: inset 0px 1px 0px 0px #aa2323;
      background-color: maroon;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      border: 1px solid red;
      cursor: pointer;
      /*    height: 5em;*/
      color: #ffffff;
      padding-top: 0.3em;
      font-family: Palatino;
      font-size: 110%;
      font-weight: bold;
      text-decoration: none;
      text-shadow: 0px 1px 0px #aa2323;
    }

    button#register:hover {
      background-color: #e4685d;
    }

    button#register:active {
      position: relative;
      background-color: #e4685d;
      top: 1px;
    }
button#register:visited {
      position: relative;
      background-color: #e4685d;
      top: 1px;
    }

    /*  CONTENT */

    .contact button {
      height: 2em;
      width: 6em;
    }

    .contact button span {
      color: maroon;
      font-weight: bold;
      font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
      font-size: 120%;
    }

    #content button#register {
      height: 2em;
      width: 8em;
    }

    #content article img {
      max-width: 100%;
      height: auto;
    }

    #content .right {
      float: right;
      margin: 0 0 20px 20px;
    }

    #content .left {
      float: left;
      margin: 0 20px 20px 0;
    }

    #content img.border {
      padding: 9px;
      background: #FFF;
      border: 1px solid #E5E5E5;
      -webkit-box-shadow: 1px 2px 3px #F5F5F5;
      -moz-box-shadow: 1px 1px 3px #F5F5F5;
      box-shadow: 1px 1px 3px #F5F5F5;
    }

    #content .img-wrap {
      max-width: 100%;
      margin-bottom: 20px;
    }

    #content img {
      margin-bottom: 0;
    }

    #content .post-image {
      float: right;
      width: 252px;
      margin: 0 0 10px 20px;
    }

    #content .post-image img {
      width: 232px;
    }

    #content article header h1 {
      margin-bottom: 20px;
      line-height: 1.25em;
      font-size: 1.5em;
    }

    #content header .meta {
      font-size: .875em;
      color: #AAA;
      font-style: italic;
    }
    /* REGISTRATION MENU */

    #coursemenu,
    #coursemenu ul,
    #coursemenu li,
    #coursemenu a {
      padding: 0;
      border: 0;
      list-style: none;
      font-weight: normal;
      font-size: 0.75em;
      font-style: italic;
      text-decoration: none;
      line-height: 1;
      position: relative;
      cursor: pointer;
    }

    #coursemenu a {
      line-height: 1.2;
    }

    #coursemenu {
      width: 30em;
      padding-left: 0.25em;
    }

    #content div.group h2 {
      font-style: italic;
      font-size: 1em;
    }

    #content div.group {
      margin: 1em 0 1em;
      padding: 1em 0 1em;
      width:80%;
      border-bottom: 1px solid maroon;
    }
    /* RESPONSIVE SIZING */
    /* WIDE DESKTOP LAYOUT
----------------------------------------------- */

    @media only screen and (min-width: 992px) {
      body {
        width: 1080px;
      }
      #content {
        float: right;
        width: 896px;
      }
      /* FEATURED */
      #featured {
        height: 560px;
      }
      #featured #slides {
        width: 896px;
      }
      #featured section img {
        left: 0;
      }
      #featured section.alt h1,
      #featured section.alt h2 {
        right: 0;
      }
      #descriptions article {
        width: 206px;
      }
      #descriptions article img {
        width: 185px;
      }
    }
    /* CLOSE WIDE LAYOUT */
    /* TABLET LAYOUT
----------------------------------------------- */

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      body {
        width: 712px;
        padding: 20px 28px 0;
      }
      /* HEADER */
      header[role="masthead"] {
        width: 712px;
        margin-bottom: 20px;
      }
      h1#branding {
        padding-bottom: 46px;
        height: 75px;
        cursor: pointer;
        margin-top: 50px;
      }
      /* NAV */
      nav {
        position: absolute;
        top: 125px;
        left: auto;
        right: 0;
        width: 528px;
        margin: 0;
      }
      nav ul {
        float: right;
        margin: 0;
      }
      nav li {
        display: inline-block;
      }
      nav a {
        display: inline;
        padding: 15px 15px 0 15px;
      }

      /* FEATURED */
      #featured {
        top: 40px;
        height: 510px;
      }
      #featured #slides {
        width: 712px;
      }
      #featured section img {
        left: -92px;
      }
      /* MISC */
      #content header[role="page"] {
        padding-top: 10px;
      }
    }
    /* CLOSE TABLET LAYOUT */
    /* WIDE MOBILE LAYOUT (LANDSCAPE/480PX)
----------------------------------------------- */

    @media only screen and (min-width: 481px) and (max-width: 767px) {
      body {
        width: 100%;
        padding: 0;
      }
      #content {
        position: relative;
        float: left;
        margin: 10px;
        width: 100%;
      }
      /* HEADER */
      header[role="masthead"] {
        width: 100%;
        margin: 20px 0;
      }
      header h1#branding {
        margin-left: 20px;
        cursor: pointer;
      }
      /* NAV */
      nav {
        top: 65px;
        left: auto;
        right: 25px;
        width: 350px;
        height: 20px;
        background: transparent;
        border-bottom: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
      nav ul {
        position: absolute;
        right: 0;
      }
      nav li {
        display: inline;
        margin: 0;
      }
      nav a {
        float: left;
        margin: 0 0 0 4px;
        padding: 5px 5px 0 1em;
      }
      /* --- CONTENT --- */
      /* FEATURED */
      #featured section img {
        margin: auto;
        max-width: 100%;
      }
      #featured section h1,
      #featured section h2,
      #featured section.alt h1,
      #featured section.alt h2 {
        width: 460px;
      }
      /* DESCRIPTION BLOCK */
      #descriptions {
        width: 100%;
        margin: 0 auto 20px;
      }
      #descriptions article {
        width: 44%;
      }
      #descriptions article img {
        width: 195px;
      }
      #descriptions article:nth-child(even) {
        margin-left:0;
        float: left;
      }
      #descriptions article:nth-child(odd) {
        margin-right: 0;
        float:right;
      }
    }
    /* CLOSE WIDE MOBILE LAYOUT */
    /* MOBILE LAYOUT (PORTRAIT/320PX)
----------------------------------------------- */

    @media only screen and (max-width: 480px) {
      body {
        width: 320px;
        padding: 0;
      }
      /* HEADER */
      header[role="masthead"] {
        width: 100%;
        margin: 69px 0 20px;
      }
      header h1#branding {
        margin: 50px auto;
        cursor: pointer;
      }
      /* NAV */
      nav {
        top: 0;
        left: 0;
        width: 340px;
        height: 49px;
        font-size: .75em;
        border-bottom: 1px solid #E5E5E5;
        -webkit-box-shadow: 0 1px 0 #F5F5F5;
        -moz-box-shadow: 0 1px 0 #F5F5F5;
        box-shadow: 0 1px 0 #F5F5F5;
      }
      nav li {
        font-size: larger;
        display: inline;
        line-height: 1em;
        margin: 0;
      }
      nav a {
        margin: 0 1em 0 1em;
        padding: 1em 0 0.5em 0;
        float: left;
        display: block;
        height: 8px;
        font-style: italic;
        color: maroon;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
      }
      /* --- CONTENT --- */
      #content {
        width: 100%;
      }
      /* FEATURED */
      #featured {
        height: 310px;
        padding-bottom: 10px;
      }
      #featured #slides {
        width: 100%;
        font-size: .75em;
      }
      #featured section img {
        left: -80px;
        max-width: 500px;
      }
      #featured section h1,
      #featured section h2,
      #featured section.alt h1,
      #featured section.alt h2 {
        left: auto;
        right: auto;
        width: 300px;
        line-height: 1.2em;
      }
      #featured section h1 {
        top: 214px;
        padding: 10px 10px;
        background: rgba(255, 255, 255, .8);
        color: #222;
        font-size: 1.125em;
      }
      #featured section h2 {
        top: 248px;
        padding: 9px 10px 11px;
        font-size: .875em;
      }
      /* DESCRIPTION BLOCK */
      #descriptions {
        width: 280px;
        margin: 0 auto 20px;
      }
      #descriptions article {
        width: 280px;
        margin-right: 0px;
      }
      #descriptions article img {
        width: 258px;
      }
      /* MAIN */
      #content #main,
      #content header[role="page"] {
        float: none;
        width: 90%;
        padding-right: 5%;
        padding-left: 5%;
      }
      #content header[role="page"] {
        padding-top: 0;
        background-position: 5% 8px;
      }
      #content header[role="page"] p {
        width: 100%;
      }
      #content .img-wrap,
      /* FOOTER */
      footer[role="siteinfo"] {
        border-top: 1px solid #E5E5E5;
        -webkit-box-shadow: 0 -1px 0 #F5F5F5;
        -moz-box-shadow: 0 -1px 0 #F5F5F5;
        box-shadow: 0 -1px 0 #F5F5F5;
      }
      footer[role="siteinfo"] p {
        padding-left: 10px;
        line-height: 1.5em;
        font-size: .625em;
      }
      footer img {
        max-width: 95%;
      }
    }
    /* CLOSE MOBILE LAYOUT */
    /*	RETINA OVERRIDES
----------------------------------------------- */

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min-device-pixel-ratio: 2) {
      header h1#branding {
        background-position: left bottom;
        background-size: 120px auto;
        cursor: pointer;
      }
    }
    /* CLOSE RETINA MEDIA QUERY */
